[submodule "bundle/fugititive"]
	path = bundle/fugititive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/protobuf-syntax"]
	path = bundle/protobuf-syntax
	url = https://github.com/jdevera/vim-protobuf-syntax.git
	ignore = dirty
[submodule "bundle/django.vim"]
	path = bundle/django.vim
	url = https://github.com/vim-scripts/django.vim
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
